<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to Home Page 1*2</h1>
    <h3><%= ["puneet","aman","shivam","anand"]%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi ab provident natus non rerum quidem alias esse 
        laudantium rem. Cupiditate consequuntur eaque quis totam 
        corrupti repellat numquam saepe labore est.</p>
        <button>click me</button>
</body>
</html>