<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll dice</title>
    <!-- <style>
        h1{
            color: red;
            font-size: 30px;
            
            background-color: rgb(119, 59, 249);

            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        </style> -->
</head>
<body>
    <h1> Dice gave value : <%=num%> </h1>
    <% if(num==6){ %>
        <h1>congratulation you won</h1>
    <% }else{ %>
        <h1>you also alwoys loose</h1>
        
        <% } %>

  
</body>
</html>